.card {
    display: flex;
    flex-direction: column;
    align-content: center;
    border: medium solid black;
    border-radius: 5px;
    width: auto;
    height: auto;
}

@media (max-width: 400px) {
    .card {
        min-width: 81px;
        min-height: 108px;
    }
}

@media (min-width: 401px) {
    .card {
        min-width: 180px;
        min-height: 240px;
    }
}

.suit {
    display: flex;
    justify-content: left;
    align-items: start;
    padding: 5px;
    height: 50%;
}

.rank {
    display: flex;
    justify-content: right;
    align-items: end;
    padding: 5px;
    height: 50%;
}

.empty {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}